<%- include("./partials/header") %>

<!-- As a link -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Todo App</a>
  </nav>

  //input:text.form-control
  //input:submit.btn.btn-btn.lg-primary

  <div class="container mt-5">

    <form action="/add/todo" method="post" class="d-flex"></form>
    <input type="text" name="todo" class="form-control" placeholder="Enter Todo">
    <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-2">
  </div>


  <ul class="list-group my-5">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>

<%- include("./partials/footer") %>
